<link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700' rel='stylesheet' type='text/css'>
<style>
.rendered_html h1, h2 {
	color: #004A72;
}

.rendered_html h3 {
	color: #007FC3;
	font-size: 128%;
}
.rendered_html h4 {
	color: #007F3B;
	font-size: 128%;
}

.rendered_html code {
    font-size: 105%;
}

.pynote {
	background-color: #d8facf; 
	border-left: 5px solid #06FC78;
	padding: 0.5em;
}

.construction {
	background-color: #ffba00; 
	border-left: 5px solid #bf8300;
	padding: 0.5em;
}

.resources {
	background-color: #E5EBFB; 
	border-left: 5px solid #2F67F3;
	padding: 0.5em;
}

div.cell{
	width: 800px;
	margin-left:16% !important;
	margin-right:auto;
}
div.text_cell_render{
    font-family: "Open Sans", "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
    width:700px;
    margin-left:auto;
    margin-right:auto;
}	
</style>