<link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700' rel='stylesheet' type='text/css'>
<style>
.rendered_html h1, h2 {
	color: #004A72;
}

.rendered_html h3 {
	color: #007FC3;
	font-size: 128%;
}
.rendered_html h4 {
	color: #007F3B;
	font-size: 128%;
}

.rendered_html code {
    font-size: 105%;
}

.pynote {
	background-color: #f4fff3; 
	border-left: 5px solid #6cf955;
	padding: 0.5em;
}

.construction {
	background-color: #fff4f3; 
	border-left: 5px solid #ff6058;
	padding: 0.5em;
}

.resources {
	background-color: #f3f7fe; 
	border-left: 5px solid #6398f3;
	padding: 0.5em;
}

.sas code, .sasoutput code {
	background-color: transparent;
}

.sas {
	background-color: #fffcf3; 
	border-left: 5px solid #ffd758;
	padding: 0.5em;
}

.sasoutput {
	background-color: #ffe79a; 
	border-left: 5px solid #ffd758;
	padding: 0.5em;
}

div.cell{
	width: 800px;
	margin-left:16% !important;
	margin-right:auto;
}
div.text_cell_render{
    font-family: "Open Sans", "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
    width:700px;
    margin-left:auto;
    margin-right:auto;
}	
</style>